
.container {
  border: 1px solid black;
  font-family: 'Helvetica';
  width: 280px;

}
table {
  border-collapse: collapse;
}
.invisible {
  border: 5px solid white;
}
h1 {
  margin: 0;
}
p {
  margin: 0;
}
.line {
  width: 100%;
  height: 10px;
  background-color: black;
}
.amount {
  font-size: .7em;
}
tbody tr td{
  border-bottom: 1px solid black;
  width: 200px;
}
#line2 {
  width: 100%;
  height: 6px;
  background-color: black;
}
.noBottom {
  border-bottom: none;
}
.value {
text-align: right;
}


/*th {
  font-weight: bolder;
  font-size: 1.8em;
  margin: 0;
  padding-top: 0px;
  padding-bottom: 0px;
  height: 100px;
  width: 280px;
}
thead:first-child {
  height: 50px;
}*/
