
.container {
  border: 1px solid black;
  font-family: 'Helvetica';
  width: 280px;
}
table {
  border-collapse: collapse;/*solidify line*/
}

.invisible {
  border: 5px solid white; /*border space*/
}
h1 {
  margin: 0;
}
p {
  margin: 0;
}
.line {
  width: 100%;
  height: 10px;
  background-color: black;
}
.amount, .calorieTable {
  font-size: .7em;
}
tbody tr td{
  border-bottom: 1px solid black;
  width: 200px;
}
#line2 {
  width: 100%;
  height: 6px;
  background-color: black;
}
.noBottom {
  border-bottom: none;
}
.value {
  text-align: right;
}
.indent {
  padding-left: 10px;
  border-bottom: 1px solid black;
  width: 10px;
}
.percentage {
  font-size: .7em;
  padding-left: 10px;
}
.bottomTable tr td, .lastTable tr td{
  border-bottom: none;
}
.bottomHead tr th {
  border-bottom: 1px solid black;
  width: 200px;
}
#calories {
  text-align: right;
}
.bottomTable tr td:nth-child(3), .bottomTable tr td:nth-child(4) {

  text-align: center;
}
 .lastTable tr .child, .lastTable tr td:last-child {
  text-align: center;
}


/*th {
  font-weight: bolder;
  font-size: 1.8em;
  margin: 0;
  padding-top: 0px;
  padding-bottom: 0px;
  height: 100px;
  width: 280px;
}
thead:first-child {
  height: 50px;
}*/
